<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestHub DIY</title>
</head>



<body>
    <div class="frame">
        <div class="info">
            <div id="reloj"></div>
            <p class="diaLock">{{data.dia}}</p>
            <iframe
                src="https://www.meteoblue.com/es/tiempo/widget/three/curic%c3%b3_chile_3892870?geoloc=fixed&nocurrent=0&noforecast=0&noforecast=1&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=dark"
                frameborder="0" scrolling="NO" allowtransparency="true"
                sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
                style="width: 90%; height: 210px;margin: 50px auto 0px; font-size: 14px;"></iframe>
        </div>
        <div class="dispositivos">
            <a href="/switchWiz">
                <div class="bttn">
                    <i class="fa-regular fa-lightbulb"></i>
                    <p>Velador </p>
                    Switch
                </div>
            </a>
            
                <div class="bttn">
                    <i class="fa-regular fa-lightbulb"></i>
                    <p>Espejo </p><div class="flex"><a href="/onespejo">On</a>
                    <a href="/offespejo">Off</a></div>
                    
                </div>
            

        </div>
    </div>


    <script src="static/js/reloj.js"></script>
</body>

</html>