* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lock {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../img/pexels-photo-2387418.jpeg);
    background-size: 100%;
    text-align: center;

}
.lock #reloj{
    margin:  auto;
    margin-bottom: 240px;
    color:  white;
    font-size: 12rem;
    

}

.lock iframe{
    position: absolute;
    top: 76%;

}
.navfix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    font-size: 34px;
    background-color: rgba(200, 200, 200, 0.416);

}

.accesos {
    display: flex;
    margin: 20px;

}

.accesos>a {
    color: white;
    text-decoration: none;
}

.accesos>a>div {
    margin-right: 25px;
    color: rgba(0, 0, 0, 0.427);
}

#reloj {
    margin: 20px;
}
#relojnav {
    margin: 20px;
}

.inicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 95%;
    height: 80vh;
    margin: 120px auto;

}

#space {
    height: 20px;
    width: 100%;
}

.inicio>div {}

.tiempo {
    grid-area: 1 / 1 / 5 / 3;
    text-align: center;

}

.fecha {
    grid-area: 1 / 3 / 2 / 5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.317);
    background-color: rgb(208, 231, 255);
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
}

.fecha i {
    position: relative;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 40px;
}

.fecha .dia {
    position: relative;
    top: 20%;
    left: 30px;
    width: 250px;
}

.dia p:first-child {
    font-size: 2rem;
    font-weight: 500;

    font-family: Arial, Helvetica, sans-serif;
}

.dia p:last-child {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.546);
}

.actividades {
    position: relative;
    top: 50%;
    left: 30px;
}

.actividades p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.571);
}

.lucesswitch {
    grid-area: 2 / 3 / 3 / 4;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.317);

    background-color: wheat;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;


}

.lucesswitch i {
    font-size: 5rem;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.557);
    margin-left: 10px;
}

.lucesswitch .luces-ubicaciones {
    margin-top: 110px;
    margin-left: 20px;
}

.luces-ubicaciones p:first-child {
    font-size: 2rem;
    font-weight: 400;

}


.media {
    grid-area: 2 / 4 / 3 / 5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.317);

    background-color: rgb(191, 255, 191);
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.media .logo {
    font-size: 30px;
    margin-top: 10px;
    color: rgb(0, 215, 0);
    margin-left: 10px;
}

.media .cancion {
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.cancion i {
    font-size: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.info-cancion {
    margin-top: 10px;
}

.info-cancion p:first-child {
    font-weight: 600;

}

.media .controles {

    width: 80%;
    margin: auto;
    text-align: center;
}

.controles i {
    margin: 10px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.765);
}


.devices h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.411);
    font-size: 2.5rem;
    font-weight: 300;
}

.devices .container-devices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    margin-bottom: 160px;
    gap: 15px;
}

.container-devices a {
    text-decoration: none;
}

.device-switch {
    background-color: rgba(245, 222, 179, 0.731);
    height: 200px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.317);
}

.device-switch i {
    font-size: 6rem;
    color: rgba(0, 0, 0, 0.566);
}

.device-switch .nombre-dispositivo {
    text-decoration: none;
    color: black;
    margin-top: 50px;
    font-size: 2rem;
}

.device-switch p {
    color: black;
}


.container-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 25px;
    margin: auto;
    text-align: center;


}

.tarjeta {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.317);
    border-radius: 10px;
    padding-bottom: 15px;

}



.img-notas {
    max-width: 100%;
    max-width: 100%;
}


.titulo-notas {
    margin-top: 10px;
    font-weight: 500;
    font-weight: 30px;
}

.hora {}

.enlace {
    color: black;
    text-decoration: none;
}